{% extends './base.html' %}

{% block content %}
    <table class="table">
		<thead>
            <tr>
                <th class="table__head" colspan="8">Resultados do últimos sorteios</th>
            </tr>
			<tr>
                <th class="table__col-label">Concurso</th>
                <th class="table__col-label">Data</th>
                <th class="table__col-label">Bola1</th>
                <th class="table__col-label">Bola2</th>
                <th class="table__col-label">Bola3</th>
                <th class="table__col-label">Bola4</th>
                <th class="table__col-label">Bola5</th>
                <th class="table__col-label">Bola6</th>
			</tr>
		</thead>
		<tbody>
			{% for draw in object_list %}
				<tr class="table__row">
					<td class="table__col center">
                        <a href="{% url 'detail-records' draw.id %}">{{ draw.id }}</a>
                    </td>
					<td class="table__col center">{{ draw.date }}</td>
					<td class="table__col center">{{ draw.ball1 }}</td>
					<td class="table__col center">{{ draw.ball2 }}</td>
					<td class="table__col center">{{ draw.ball3 }}</td>
					<td class="table__col center">{{ draw.ball4 }}</td>
					<td class="table__col center">{{ draw.ball5 }}</td>
					<td class="table__col center">{{ draw.ball6 }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}